zup-parent/selinf-ejbDao/ejbModule/
zup-parent/selinf-ejbNegocio/ejbModule/
*.classpath
*.project
*.settings
*/.settings/*
*.settings/org.eclipse.core.resources.prefs
bin/
target/
*.dll
*.pdb
obj/
*.xlsx
*.sln
*.suo
*.scr
*.DS_Store
/.gitignore~
*.metadata
zup-parent/zup-webapp/WebContent/*
*build.properties
