selinf-parent/selinf-ejbDao/ejbModule/
selinf-parent/selinf-ejbNegocio/ejbModule/
*.classpath
*.project
*.settings
*/.settings/*
*.settings/org.eclipse.core.resources.prefs
bin/
target/
*.dll
*.pdb
obj/
*.xlsx
*.sln
*.suo
*.scr
*.DS_Store
/.gitignore~
*.metadata
selinf-parent/selinf-webapp/WebContent/*
*build.properties
